.modal {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    a {
        color: black;
    }

    .background {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .window {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -100%);
        min-width: 300px;
        background-color: whitesmoke;
        border-radius: 8px;
        padding: 16px;

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .modal-btn {
                cursor: pointer;
                background-color: rgb(255, 137, 137);
                border-radius: 5px;
                font-size: 16px;
                font-weight: bold;
                color: white;
            } :hover {
                background-color: rgb(194, 105, 105);
            }
        }

        .modal-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}